body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #007BFF;
    padding: 20px;
    color: white;
}

h1 {
    margin: 0;
}

section {
    padding: 40px;
    margin: 0 auto;
    width: 80%;
}

#harmony {
    background-color: #e0f7fa;
    color: #004d40;
    border-bottom: 5px solid #004d40;
}

#discord {
    background-color: #ffebee;
    color: #b71c1c;
    border-top: 5px solid #b71c1c;
}

footer {
    background-color: #007BFF;
    padding: 10px;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer a {
    color: #ffebee;
    text-decoration: none;
}

.transition-arrow {
    display: block;
    margin-top: 20px;
    font-size: 1.5rem;
    text-decoration: none;
    color: #007BFF;
}

.transition-arrow:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}
